#root {
  max-width: 100vw;
  max-height: 100vh;
  display: inline;
  justify-content: center;
}
.letter {
  border: solid 1px black;
  max-height: 2em;
  max-width: 1.3em;
  justify-content: center;
  display: inline-block;
  font-size: 1em;
  padding: .5em;
  margin: 2px;
}

.letter:hover {
  box-shadow: 1px 1px 2px;
}

.row {
  min-width: 100%;
  display: inline-flex;
  /* justify-content: center; */
  margin: 2px 1em 2px 1em;
  padding: 1px;

}
